# vim swp
*.swp

# log and exec file
cmake_targets/log/
cmake_targets/*/build/
cmake_targets/ran_build/
log/
lte_build_oai/

# IDE files
.vscode
.cproject
.project
.settings

# Tags for vim/global
GPATH
GRTAGS
GTAGS
tags

# build
build/

# others
nfapi_nr_interface_scf
*.log
*.out
CMakeUserPresets.json

dpchain/auto/**/log/
dpchain/auto/**/booterKeyStore/
dpchain/auto/**/daemon
dpchain/auto/**/daemonClose
dpchain/auto/**/example_didSpectrumTrade
dpchain/auto/**/p3Chain
dpchain/auto/**/database/
dpchain/auto/**/accounts/
dpchain/auto/**/booters/
